<template name="home">
	<div class="row center">
		{{#each movies}}
        <div class="col s12 m12 l12">
        	<div class="card {{#if recommendation}}pink accent-3{{/if}}">
            	<div class="card-image">
            		<img src="https://image.tmdb.org/t/p/w1280{{backdrop_path}}" class="activator">
            		<span class="card-title activator">{{title}} ({{year}})</span>
            	</div>
            	<div class="card-content">
              		<p class="activator truncate">{{overview}}</p>
            	</div>
            	<div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">{{title}} ({{year}})<i class="material-icons right">close</i></span>
			      	<p>{{overview}}</p>
			    </div>
            	<div class="card-action cyan-text text-darken-3 center">
              		{{#each stars 'full'}}
              			<i class="material-icons star" data-val="{{this}}" data-id="{{../id}}">star</i>
              		{{/each}}
              		{{#each stars 'half'}}
              			<i class="material-icons star" data-val="{{this}}" data-id="{{../id}}">star_half</i>
              		{{/each}}
              		{{#each stars 'empty'}}
              			<i class="material-icons star" data-val="{{this}}" data-id="{{../id}}">star_border</i>
              		{{/each}}
            	</div>
          	</div>
        </div>
        {{/each}}
      </div>
</template>