<template name="navbar">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan darken-3">
                <a href="#!" class="brand-logo"><i class="material-icons">movie_filter</i>Movrek</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                    <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                    <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                    <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
                </ul>
                <div class="progress cyan darken-3">
                    <div class="indeterminate pink accent-2" id="progress-bar" style="width: 0%"></div>
                </div>
            </div>
        </nav>
    </div>
</template>