<template name="navbar">
    <ul id="dropdown" class="dropdown-content">
        {{#if currentUser}}
        <li><span class="center">{{currentUser.profile.name}}</span></li>
        <li class="divider"></li>
        <li><a href="#" id="js-logout">Logout</a></li>
        {{else}}
        <li><a href="/">Login</a></li>
        {{/if}}
        <li class="divider"></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/about">About</a></li>
        <li class="divider"></li>
        <li><a href="#" id="js-exit">Exit</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan darken-3">
                <a href="#!" class="brand-logo center">Mozzak</a>
                {{#if history}}
                <ul class="left">
                    <li><a href="#" id="js-back"><i class="material-icons">chevron_left</i></a></li>
                </ul>
                {{/if}}
                <ul class="right">
                    {{#if home}}
                    <li><a href="#" id="js-refresh"><i class="material-icons">refresh</i></a></li>
                    {{/if}}
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown"><i class="material-icons">more_vert</i></a></li>
                </ul>
                <div class="progress cyan darken-3">
                    <div class="indeterminate pink accent-2" id="progress-bar" style="width: 0%"></div>
                </div>
            </div>
        </nav>
    </div>
</template>