<template name="splash">
	<div class="center">
	<h2 class="center">Mozzak</h2>
	<h5 class="center">Sit down, prepare some popcorn, and find a great new movie to watch!</h5>
	<div class="row">
		<div class="col s12 m12 l12 center">
			<a class="waves-effect waves-light btn-large cyan darken-3" id="js-facebook"><i class="material-icons">people_outline</i> Login with Facebook</a>
		</div>
		<div class="col s12 m12 l12 center">
			<span class="text-cyan text-darken-3">-- or --</span>
		</div>
		<div class="col s12 m12 l12 center">
			<a class="waves-effect waves-light btn-large cyan darken-3" id="js-password"><i class="material-icons">account_box</i> Login with password</a>
		</div>
	</div>
	</div>
</template> 